h3
{
    font-size: 20px !important;
    background-color: rgb(186, 145, 222);
}

.btn-success:hover
{
    padding-bottom: 20px;
    background-color: rgb(45, 5, 65);
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow: 1px 1px 38px purple;}
    to {box-shadow: 1px 1px 38px pink;}
}

#body_background
{
    background-color: rgb(49, 16, 80);
}
  





